#output
exif_data.txt

#Testing data
/data/


#EXIF Removed Images
clean_images/

# IDE Configuration
.idea

__pycache__/
*.py[cod]

# Config
Download/config/*
!Download/config/.gitkeep

#Data
Download/data/*
!Download/data/.gitkeep

#Session
Download/session.json